.wrapper{
	width: 100%;
}
.content{
	margin: 5%;
}
.textBlock{
	margin-bottom: 60px;
}
.title{
	margin-bottom: 60px;
	color: #FFF;
	max-font-size: 58px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.subtitle{
	color: #CFD3DA;
	margin-bottom: 20px;
	max-font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.text{
	color: #ADB3BF;
	max-font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}