* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    background: var(--bg-card-bg-2, #1E1F25);
}
@font-face {
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    src: url(../../../public/fonts/SourceSans3-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Source Sans Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    src: url(../../../public/fonts/SourceSans3-Regular.ttf);
}

.header-logo {
    border-right: 1px solid #adb3bf54;
    padding-right: 40px;
}

.icon {
    text-decoration: none;
    color: #FFF;
    display: none;
}

.header-line {
    justify-content: space-around;
    padding-top: 32px;
    display: flex;
    align-items: center;
}

.wrapper {
    margin: 0 165px;
}

.nav-text {
    color: var(--grey-paragraph-6, #ADB3BF);

    /* Web/Paragraph1/Regular */
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    text-decoration: none;
    padding: 8px 18px;
    margin-right: 30px;
}

.nav-text:hover {
    color: var(--White, #FFF);
    transition: color 0.3s ease-in-out;
}

.btns {
    border-radius: 4px !important;
    padding: 13px 26px !important;
    display: inline-block;
}

.btn {
    display: inline-block;
    color: var(--White, #FFF);

    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: inline-block;
    width: 140px;
    height: 56px;
    padding: 13px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--primary-9, #1E1F25);
}

.btn-primary {
    display: inline-block;
    color: var(--White, #FFF);

    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: inline-block;
    width: 140px;
    height: 56px;
    padding: 13px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--primary-9, #1B70F1);
}

@media screen and (max-width: 1415px) {
    .nav-text {
        margin-right: 1px;
    }
}

@media screen and (max-width: 1270px) {

    .nav-text,
    .btns {
        display: none;
    }

    .wrapper a.icon {
        float: right;
        margin-top: 0px;
        display: block;
        font-size: 50px;
    }

    header{
        width: 100%;
    }
    .navigation.responsive{
        position: relative;
        top: 50px;
        left: auto;
    }

    header .navigation.responsive {
        height: 340px !important;
    }

    .navigation.responsive a.icon{
        position: absolute;
        top: -60px;
        right: 0px;
    }
    .navigation.responsive{
        position: relative;
        top: 50px;
        left: 0px;
    }
    .navigation.responsive a{
        float: none;
        display:block;
        text-align: left;
    }
}