.wrapper{
	width: 100%;
}
.content{
	margin: 5%;
}

.titleSection{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 60px;
	border-bottom: #2a2b33 1px solid;
	margin-bottom: 120px;
}

.title{
	color: #FFF;
	max-font-size: 58px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
/* Стили для темного фона формы */
.darkForm {
	background-color: #333; /* Цвет фона формы */
	color: #fff; /* Цвет текста в форме */
	border: 1px solid #555; /* Цвет границы формы */
	width: 20%;
}
.darkForm:active{
	background-color: #333; /* Цвет фона формы */
	color: #fff; /* Цвет текста в форме */
	border: 1px solid #555; /* Цвет границы формы */
	width: 20%;
}

/* Стили для темного фона введенного текста */
.darkForm {
	background-color: #131517; /* Цвет фона введенного текста */
	color: #FFF; /* Цвет текста во введенном тексте */
	border: 1px solid #555; /* Цвет границы введенного текста */
}

/* Стили для placeholder текста */
.darkForm::placeholder {
	color: #FFF; /* Цвет placeholder текста */
}

/* Стили для активного состояния формы */
.darkForm:focus {
	background-color: #131517; /* Цвет фона при фокусировке */
	color: #fff; /* Цвет текста при фокусировке */
	border: 1px solid #777; /* Цвет границы при фокусировке */
}
.cards{
	margin-bottom: 120px;
}
.card{
	display: flex;
	margin-bottom: 40px;
	align-items: center;
	border-radius: 4px;
	padding: 16px 40px;
	justify-content: center;
	background: #131517;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.cardText{
	color: #ADB3BF;
	max-font-size: 24px;
	font-style: normal;
	font-weight: 400;
}
.cards2{
	margin-bottom: 120px;
}

