.wrpaper {
	width: 100%;
}

.content {
	margin-right: 5%;
	margin-top: 2%;
	margin-left: 3%;
}

.profile {
	display: flex;
	padding: 2rem;
	align-items: flex-start;
	gap: 10px;
	border-radius: 16px;
	background: #1E1F25;
}

.ImgAndName {
	display: flex;
	align-items: center;
	margin-right: 2rem;
}

.username {
	color: #ECEEF0;
	font-size: 2rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.email,
.id {
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
}

.emailText,
.idText {
	color: #ADB3BF;
}

.emailAddress,
.uid {
	color: #ECEEF0;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.card{
	background: #1E1F25;
	padding: 40px;
	border-radius:6px;
	gap: 30px;
}
.card2 {
	padding: 40px;
	background: #272A34;
	display: flex;
	margin-top: 30px;
	align-items: safe;
	border-radius: 6px;
	gap: 30px;
}
.cardTextBlock{
	display: flex;
	justify-content: space-between;
}
.left{
	margin-top: 10px;
	color: #ADB3BF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}
.right{
	color:#ECEEF0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.right Button {
	display: flex;
	width: 220px;
	height: 56px;
	padding: 13px 26px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
}
