.wrapper {
	margin-top: 1%;
	margin-right: 5%;
}
.cards{
	gap: 35px;
}
.cardWrapper {
	display: flex;
	padding: 24px;
	align-items: flex-start;
	border-radius: 6px;
	background: #1e1f25;
}

.textBlock {
	display: flex;
	justify-content: space-between;
	border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
}
.textBlock2 h1{
	color: #ADB3BF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.Bank {
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}

.card{
	background: #1E1F25;
	padding: 40px;
	border-radius:6px;
	gap: 30px;
}
.card2 {
	padding: 40px;
	background: #272A34;
	display: flex;
	margin-top: 30px;
	align-items: safe;
	border-radius: 6px;
	gap: 30px;
}
.cardTextBlock{
	display: flex;
	justify-content: space-between;
}
.left{
	margin-top: 10px;
	color: #ADB3BF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}
.right{
	color:#ECEEF0;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.right Button {
	display: flex;
	width: 220px;
	height: 56px;
	padding: 13px 26px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
}