.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
}

.content {
    text-align: center;
}

.title {
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    color: #ff4d4d;
}

.message {
    font-size: 24px;
    color: #fff;
}
.homeButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #0056b3;
}